.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header {
  width: 100vw;
  height: 60px;
  background-color: red;
  display: flex;
}

h2 {
  margin: 0;
  padding: 0;
}

.pokecard {
  background-color: lightslategrey;
  min-height: 150px;
  width: 100px;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-radius: 15%;
}

img {
  width: 100%;
  padding: 0;
}

.pokecard h4 {
  font-size: 20px;
}

.pokedex-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.team-card {
  background-color: #323232;
  height: fit-content;
  width: 200px;
}

.grass {
  background-color: green;
  color: white;
  padding: 3px;
  border-radius: 5px;
}

.poison {
  background-color: purple;
  color: white;
  padding: 3px;
  border-radius: 5px;
}

.water {
  background-color: rgb(0, 89, 255);
  color: white;
  padding: 3px;
  border-radius: 5px;
}

.fire {
  background-color: #D32A06;
  color: white;
  padding: 3px;
  border-radius: 5px;
}

.electric {
  background-color: #EDB222;
  color: var(--gray);
  padding: 3px;
  border-radius: 5px;
}

.bug {
  background-color: #8A970F;
  color: white;
  padding: 3px;
  border-radius: 5px;
}

.normal {
  background-color: #C5C0B4;
  color: var(--gray);
  padding: 3px;
  border-radius: 5px;
}

.rock {
  background-color: #AC9649;
  color: white;
  padding: 3px;
  border-radius: 5px;
}

.ground {
  background-color: #D3B158;
  color: white;
  padding: 3px;
  border-radius: 5px;
}

.dark {
  background-color: #433026;
  color: white;
  padding: 3px;
  border-radius: 5px;
}

.fairy {
  background-color: #EDA9ED;
  color: var(--gray);
  padding: 3px;
  border-radius: 5px;
}

.flying {
  background-color: #7C92E6;
  color: white;
  padding: 3px;
  border-radius: 5px;
}

.steel {
  background-color: #7C7D86;
  color: white;
  padding: 3px;
  border-radius: 5px;
}

.dragon {
  background-color: #765EE1;
  color: white;
  padding: 3px;
  border-radius: 5px;
}

.fighting {
  background-color: #773420;
  color: white;
  padding: 3px;
  border-radius: 5px;
}

.ghost {
  background-color: #5C5CAC;
  color: white;
  padding: 3px;
  border-radius: 5px;
}

.ice {
  background-color: #73D7F5;
  color: white;
  padding: 3px;
  border-radius: 5px;
}

.psychic {
  background-color: #D93C6F;
  color: white;
  padding: 3px;
  border-radius: 5px;
}

.type {
  width: 50px;
  text-align: center;
  padding: 5px 15px;
}

.type-container {
  display: flex;
  justify-content: space-around;
  gap: 8px;
}

.stat-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.team-container {
  display: flex;
  justify-content: center;
  gap: 15px;
}

h5 {
  font-size: 12px;
}